
.root {
	-fx-spacing: 30;

	-fx-padding: 10;
}

.my_customLabel {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.text-field-error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.button {
  -fx-background-color: white; 
 -fx-border-color: #4CAF50;
  -fx-color: white;
  -fx-padding: 15px 32px;
  -fx-text-align: center;
  text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
  -fx-margin: 4px 2px;
  -fx-cursor: pointer;
  -fx-opacity: 0.9;
}

.btn-vert:hover {
	-fx-background-color: #90EE90; /* Green */
	-fx-opacity: 1;
}

.btn-rouge:hover {
	-fx-background-color: #FFA07A; /* Red */
	-fx-opacity: 1;
}
.btn-bleu:hover {
	-fx-background-color: #B0E0E6; /* Light Blue */
	-fx-opacity: 1;
}

.vb{
	-fx-padding-top: 44px;
}